/* Root */
:root {
    --text-color: rgb(230, 230, 230);
    --background-color: rgb(30, 30, 30);
    --accent-color: rgb(35, 177, 200);
    --max-width: 1920px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    display: flex;
    list-style: none;
}
/* Root */

/* Navigation */
.navbar {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 8px 12px;
    max-width: var(--max-width);
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i {
    color: var(--accent-color);
    animation: logo_animation 3s infinite;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background: var(--accent-color);
    border-radius: 4px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@keyframes logo_animation {

    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Navigation */

/* Container */
.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: var(--max-width);
}

.word {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.word__title {
    text-align: center;
}

.word__form-div {
    margin: 8px auto;
    display: flex;
    width: 540px;
}

.word__form-text {
    padding: 8px;
    width: 100%;
    resize:none;
}

#word__uppercase {
    text-transform: uppercase;
}

#word__lowercase {
    text-transform: lowercase;
}


/* aside */
.aside {
    margin: 0;
    padding: 0;
}
/* aside */

/* Container */
@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active {
        display: flex;
    }
}